.search-pane {
  width: 90%;
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: inherit;
}

.view-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.selected-icon-view {
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.list-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

h1{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #999;
}
